<% provide(:title, "Statistic") %>
<h1>Bot statistic page</h1>
<div class="row-fluid">
  <div class="span6 center">
    <h2>
      Aggressive bot
    </h2>
    <h2>
      Bank won: <%= @aggressive_bank %>
    </h2>
    <h2>
      Wins: <%= @aggressive_wins %>
    </h2>
    <h2>
      Losts: <%= @aggressive_losts %>
    </h2>
  </div>
  <div class="span6 center">
    <h2>
      Careful bot
    </h2>
    <h2>
      Bank won: <%= @carefull_bank %>
    </h2>
    <h2>
      Wins: <%= @carefull_wins  %>
    </h2>
    <h2>
      Losts: <%= @carefull_losts  %>
    </h2>
  </div>
</div>


